* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Raleway', sans-serif;
	height: 1000px;
}

.container {
	width: 100%;
	height: 100%;
	background: linear-gradient(to top, #4effbf 0%, #4bddf1 100%);
	display: grid;
	grid-template-columns: repeat(8,1fr);
	grid-template-rows: 0.5fr repeat(6,1fr) 0.5fr;
	grid-gap: 10px;
}

a {
	text-decoration: none;
	color: #fff;
	font-size: 15px;
}
/* NAV */
nav {
	grid-column: 1/-1;
	grid-row: 1/2;
	background: #000000;
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.item-logo {
	margin-left: 10px;
}

.item-link a {
	margin: 0 5px;
	border-left: 1px solid rgba(255, 255, 255, 0.53);
}
.item-search {
	width: 25%;
}

.item-search input {
	width: 90%;
	z-index: 2;
	height: 30px;
	border-radius: 50px;
	background: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	text-align: center;
}

.item-search button {
	position: absolute;
	z-index: 1;
	top: 3.8%;
	right: 2.9%;
	border-radius: 100%;
	background-color: rgb(255, 255, 255);
	border: none;
}

.item-search button:hover {
	color: #000;
}

/* MAIN */
main {
	grid-column: 1/-1;
	grid-row: 2/-3;
	margin: 0 10px;
}

img {
	width: 300px;
	height: 200px;
}
/* FOOTER */
footer {
	grid-column: 1/-1;
	grid-row: 8/-1;
	background: #000000;
	color: #ffffff;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.footer-item-link a {
	margin: 0 5px;
}

.footer-item-autor {
	font-size: 15px;
}
